.carousel-inner{
    width:100%;
    height:70vh;
    display: flex;
    align-items: center;
    animation:lef 2s;
}
.carousel{
    height:100%
}

.carousel-inner div{
    top:0;
    position: absolute;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-5px);} 
    60% {transform: translateY(-5px);} 
 } 
#cb{
    top:-130px;
    position:absolute;
    animation: ease-in 0.2s ;
    animation: move 2s;
}
#stay{
    font-size:50px;
}
@keyframes move{
    from{top:-500px;}
    to{top:-90px;}
}

@keyframes lef{
    from{right:-1000px}
    to{right:0}
}

#butt{
    display: none;
}


#carouselExampleIndicators:hover #butt{
    display: flex;
}

#nav{
    margin:10px;
}
.sticky{
    position: fixed;
    top:0;
    width:100%;
}

#textbox{
    font-size: 25px;
}
#disbox{
    font-size:18px;
}
#smb{
    width: 280px
}
@media screen and (max-width: 600px) {
    #stay{
        font-size:35px;
    }

    #smb{
    width: 340px;
   }
    .carousel-inner{
        width:100%;
        height:300px;
        display: flex;
    align-items: center;

    
    }
    #cb{
        width:80%;
        height:auto;
        font-size: 10px;
        top:-60px;
        position: absolute;
    }
    #box{

    }
    #textbox{
        font-size: 19px;
    }
    #home{
        height:'100%'
    }
    #disbox{
        margin-top:8px;
        font-size: 16px;
    }
.navb{
        height:100%;
        width: 40%;
        background-color: rgba(0,0,0,0.5);
    }
    .navi{
       font-size: 20px;
       width: 90%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       height:60px !important
    }
    .navi:hover{
        color:black
    }
  }

#nav:hover {
    font-size: 18px;
}

#fl{
    margin:5px;
}
@keyframes moc{
    from{width: 0}
    to{width:70%;}
}
@keyframes top{
    from{top:-45px}
    to{top:0}
}
@keyframes op{
    from{bottom:0;opacity: 0}
    to{bottom: 30px;opacity: 1}
}

#imtext{
    display: none;
}

#hov:hover div{
        top:0;
        bottom:0;
        position: absolute;
        background-color: rgba(0,0,0,0.3);
        height:100%;
        animation-name: bt;
        animation-duration: 0.5s;
    
}
#hover img{
    height:430px;
    max-width:350px
}
#hov:hover img{
    height:460px;
    max-width:500px;
}
#hov:hover div span{
        bottom:100px;
        left:100px;
        position: absolute;
        text-align: center;
        z-index: 3;
        animation-name: bt;
        animation-duration: 0.3s;
}
#hov:hover #imtext{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom:30px;
    animation-name: bt;
    animation-duration: 0.5s;

}

@keyframes bt{
    from {bottom:-2px;opacity: 0}
    to{bottom:100px;opacity: 1}
}

#nav{
    cursor:pointer;
}
#ink{
    outline: none !important;
}
#Link{
    outline: none !important;
    text-decoration: none !important;
    color:white !important;
    width: 100% !important;
    text-align: center;
}
